.beeldelement {
    background: $lightGrey;
    padding: .75em 1em;

    @media ( min-width: $breakpointDesktop ) {
        padding: .75em;
    }

    &__inner {
        // @extend .container;
        @extend .columns;
        background: $iconLockBlue no-repeat left center;

        @media ( min-width: $breakpointDesktop ) {
            background-position: left top;
        }
    }

    &__column {
        @extend .column;
        font-size: 0.9em;

        @media ( min-width: $breakpointDesktop ) {
            font-size: 1em;
        }

        &:first-child {
            padding-left: 2.25em;


            p {
                margin: 0;
            }
        }
        
        &:last-child {
            padding-left: 2.25em;
            @media ( min-width: $breakpointDesktop ) {
                text-align: right;
                padding-left: 0em;
            }
        }
    }
}