{{ render "@header" header merge=true }}

<div class="row row--page-opener">
   <div class="container">
      {{ render "@breadcrumb" breadcrumb merge=true }}
   </div>
</div>

<div class="container columns columns--sticky-sidebar row" data-decorator="init-scroll-chapter">

   <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability"
      data-config='{"scrollContentElement":".js-scrollContentElement"}' id="toggleable-1">
      <div>
         <h3 class="nav-sub__heading"><i>Inhoudsopgave</i></h3>
         {{ render "@treeview" }}
      </div>
   </div>

   <div role="main" id="content">
      
      <article id="ht-content" class="ht-content">
        <header class="ht-content-header">
            <div id="ht-breadcrumb">
    
</div>            <h1 id="src-35702612"> <span>Documentatie TOOI</span></h1>
        </header>

        <div id="main-content" class="wiki-content sp-grid-section" data-index-for-search="true">

<p   
>Dit is de documentatie en achtergrondinformatie over TOOI, de Thesaurus en Ontologie Overheidsinformatie. TOOI wordt ontwikkeld en beheerd door <a  class="external-link" href="https://www.koopoverheid.nl/">KOOP</a>.</p>
<p   
>Status: TOOI is een standaard in ontwikkeling. De documentatie van TOOI is beschikbaar ter inzage. Deze eerste versie van het model wordt momenteel binnen KOOP ge&iuml;mplementeerd. Er wordt voorzien dat er komend jaar uitbreidingen zullen komen, zodat externe partijen TOOI ook kunnen gaan toepassen. De exacte versionering van TOOI en zijn onderdelen wordt op een later moment beschreven.</p>
<p   
>Documentatieversie: 1.0.2, gepubliceerd op 16-mrt-2022</p>
<p   
>Deze documentatie bevat geen implementatierichtlijnen.</p>
<p   
>Feedback op deze documentatie is welkom.</p>
    <div class="section section-1" id="src-35702612_DocumentatieTOOI-Inhoudsopgave">
        <h1 class="heading "><span>Inhoudsopgave</span></h1>
<p   
></p>
<ul class="childpages-macro "><li class=" "><p   
><a   href="1_-_Overzicht_TOOI.html">1 - Overzicht TOOI</a></p>
<ul class="childpages-macro "><li class=" "><p   
><a   href="1.1_-_Samenvatting_en_leeswijzer.html">1.1 - Samenvatting en leeswijzer</a></p>
</li><li class=" "><p   
><a   href="1.2_-_Inleiding.html">1.2 - Inleiding</a></p>
</li><li class=" "><p   
><a   href="1.3_-_URI-strategie.html">1.3 - URI-strategie</a></p>
</li></ul></li><li class=" "><p   
><a   href="2_-_TOOI-ontologie.html">2 - TOOI-ontologie</a></p>
<ul class="childpages-macro "><li class=" "><p   
><a   href="2.1_-_Structuur_en_onderhoud.html">2.1 - Structuur en onderhoud</a></p>
</li><li class=" "><p   
><a   href="2.2_-_Informatieobjecten.html">2.2 - Informatieobjecten</a></p>
</li><li class=" "><p   
><a   href="2.3_-_Overheidsorganisaties.html">2.3 - Overheidsorganisaties</a></p>
</li><li class=" "><p   
><a   href="2.4_-_De_Waardelijstontologie.html">2.4 - De Waardelijstontologie</a></p>
</li><li class=" "><p   
><a   href="2.5_-_Overige_klassen_en_properties.html">2.5 - Overige klassen en properties</a></p>
</li></ul></li><li class=" "><p   
><a   href="3_-_TOOI-thesauri.html">3 - TOOI-thesauri</a></p>
<ul class="childpages-macro "><li class=" "><p   
><a   href="3.1_-_Structuur_en_onderhoud.html">3.1 - Structuur en onderhoud</a></p>
</li><li class=" "><p   
><a   href="3.2_-_TOOI-kern.html">3.2 - TOOI-kern</a></p>
</li><li class=" "><p   
><a   href="3.3_-_TOOI-Xtrn.html">3.3 - TOOI-Xtrn</a></p>
</li><li class=" "><p   
><a   href="3.4_-_TOOI-Top.html">3.4 - TOOI-Top</a></p>
</li><li class=" "><p   
><a   href="3.5_-_TOOI-Wep.html">3.5 - TOOI-Wep</a></p>
</li><li class=" "><p   
><a   href="3.6_-_TOOI-Bwb.html">3.6 - TOOI-Bwb</a></p>
</li><li class=" "><p   
><a   href="BIJLAGE_-_Conceptcollecties_en_hi%C3%ABrarchie.html">BIJLAGE - Conceptcollecties en hi&euml;rarchie</a></p>
</li></ul></li><li class=" "><p   
><a   href="4_-_TOOI-registers.html">4 - TOOI-registers</a></p>
<ul class="childpages-macro "><li class=" "><p   
><a   href="4.1_-_Structuur_en_onderhoud.html">4.1 - Structuur en onderhoud</a></p>
</li><li class=" "><p   
><a   href="4.2_-_Het_gebruik_van_de_registers.html">4.2 - Het gebruik van de registers</a></p>
</li></ul></li><li class=" "><p   
><a   href="5_-_TOOI-waardelijsten.html">5 - TOOI-waardelijsten</a></p>
<ul class="childpages-macro "><li class=" "><p   
><a   href="5.1_-_Structuur_en_onderhoud.html">5.1 - Structuur en onderhoud</a></p>
</li><li class=" "><p   
><a   href="5.2_-_Het_gebruik_van_waardelijsten.html">5.2 - Het gebruik van waardelijsten</a></p>
</li><li class=" "><p   
><a   href="5.3_-_De_XML-structuur_van_XML-waardelijsten.html">5.3 - De XML-structuur van XML-waardelijsten</a></p>
</li></ul></li><li class=" "><p   
><a   href="Downloads.html">Downloads</a></p>
</li><li class=" "><p   
><a   href="Index_van_resources.html">Index van resources</a></p>
</li></ul><p   
></p>
<p   
><br/></p>
    </div>
        </div>

    </article>

   </div>

</div>

{{ render "@footer" }}