<a {{#if id}}id="{{id}}"{{/if}} href="{{ action }}" class="{{class}}" {{#if externallink}}rel="external"{{/if}}>{{#if externallink}}<span class="visually-hidden">Externe link: </span>{{/if}}{{ text }}</a>
