.subselection-checkbox {

  &__trigger {
    background-color: transparent;
    text-align: left;
    font-size: 1em;
    border: 0;
    font-family: inherit;
    color: $darkBlue;
    text-decoration: underline;
    display: inline-block;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }

    &.is-empty {
      @extend .icon;
      @extend .icon--list;
    }
  }
}