<div class="block-info">
  <div class="block-info__icon">
    {{#if icon}}<img src="{{icon/src}}" alt="{{icon/alt}}"/>{{/if}}
  </div>
  <div class="block-info__content">
    {{#if content}}{{{content}}}{{/if}}
  </div>
</div>
