{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb merge=true }}
  </div>
</div>

<div class="container row" id="content" role="main">
  <div class="row row--xxlarge">

    {{#> @jumbotron jumbotronContext }}{{/@jumbotron}}

  </div>
</div>

{{ render "@footer" }}
