{{ render "@header" header merge=true }}

<div class="container row" id="content" role="main">
  <div class="row row--xxlarge">

    {{#> @jumbotron jumbotronContext }}{{/@jumbotron}}

  </div>
</div>
